.place__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */ 
  margin: 0;
}

@media (max-width: 1023px){
  .place__title{
    font-size: 42px;
    /* font-size: 5.46875vw; */
    min-height: 92px;
    min-width: 340px;
    line-height: 1.1;
    /* or 110% */
  }
}
@media (max-width: 500px){
  .place__title{
    font-size: 32px;
    line-height: 1.09;
    /* identical to box height, or 109% */
    padding: 0 5% 0;
  }
}