.header__link-ru{
  color: #FFFFFF;
  margin-right: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  border-bottom: solid 1px white;
}
.header__link-ru:hover{
  opacity: 0.8;
}
@media (max-width: 425px) {
  .header__link-ru{
    font-size: 5.625vw;
    line-height: 1.11;
  }
}