.lead__title{
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  /* or 104% */
  text-align: center;
  margin: 0;
  max-width: 720px;
  padding-top: 56px;
}

@media (max-width: 1024px) {
  .lead__title{
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .lead__title{
    font-size: 12.5vw;
    line-height: 1.1;
    width: 90vw;
  }
}