.intro{
  max-width: 690px;
  /* padding-left: 148px; */
  padding-top: 92px;
}

@media (max-width: 1023px) {
  .intro{
    max-width: 720px;
    padding: 88px 3.125% 0px;

  }
}

@media (max-width: 767px) {
  .intro{
    max-width: 90%;
    padding: 64px 5% 0px;
  }
}