.place__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  border-bottom: solid 1px white;
  /* identical to box height, or 122% */
  
  color: #FFFFFF;
}
.place__link:hover{
  opacity: 0.8;
}